.creators_main {
  margin-top: 70px;
  padding-bottom: 70px;
  /* background: url('../../../assets/img/marketplace_main_bg.png') no-repeat
    bottom; */
  background-size: contain;
}

.creators_main h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #282550;
  margin: 20px 0;
}

.dark .creators_main h4 {
  color: #fff;
}

.creators_main_main {
  display: flex;
  flex-wrap: wrap;
}

.load_more {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  background: url('../../../assets/img/learn_more_button_bg.png') no-repeat
    center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
}

.load_more::before {
  content: '';
  background: url('../../../assets/img/signup_button_bg.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.load_more:hover {
  transition: 0.4s;
  background: transparent;
  color: #141233 !important;
}

.dark .load_more:hover {
  transition: 0.4s;
  background: transparent;
  color: #fff !important;
}

.load_more:hover::before {
  transition: 0.4s;
  opacity: 1;
}
