.profile_settings_page {
  background: rgba(255, 255, 255, 0.63);
  border: 1px solid #797979;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 12px;
  width: 100%;
  padding: 30px;
}

.dark .profile_settings_page {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid #797979;
}

.profile_settings_page h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000;
}

.dark .profile_settings_page h2 {
  color: #fff;
}

.profile_settings_block {
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: space-around;
}

.profile_settings_block_info {
  display: flex;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid #797979;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 520px;
  min-height: 85px;
}

.dark .profile_settings_block_info {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid #797979;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
}

.profile_settings_block_info img {
  max-width: 50px;
  height: auto;
  margin-left: 20px;
}

.profile_settings_block_info div {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.profile_settings_block_info div h6 {
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0075ff;
}

.profile_settings_block_info div span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.dark .profile_settings_block_info div span {
  color: #fff;
}

.profile_settings_button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  background: url('../../assets/img/signup_button_bg.png') no-repeat center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
  width: 145px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.dark .profile_settings_button {
  color: #fff;
}

.profile_settings_button::before {
  content: '';
  background: url('../../assets/img/learn_more_button_bg.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.profile_settings_button:hover {
  transition: 0.4s;
  background: transparent;
  color: #141233 !important;
}

.dark .profile_settings_button:hover {
  transition: 0.4s;
  background: transparent;
  color: #fff !important;
}

.profile_settings_button:hover::before {
  transition: 0.4s;
  opacity: 1;
}

.profile_settings_button span {
  position: relative;
  z-index: 2;
}

.profile_settings_page .create_wallet {
  margin-bottom: 0;
}

.profile_settings_unset {
  display: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

.dark .profile_settings_unset {
  color: #fff;
}

@media (max-width: 767.98px) {
  .profile_settings_block {
    flex-wrap: wrap;
  }

  .profile_settings_unset {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    outline: none;
  }
  .profile_settings_unset img {
    margin-right: 10px;
  }

  .profile_settings_block_buttons {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
  }
}

@media (max-width: 575.98px) {
  .profile_settings_page {
    padding: 10px;
  }
  .profile_settings_block_info img {
    margin-left: 5px;
  }
  .profile_settings_block_info div {
    margin-left: 10px;
  }
  .profile_settings_block_info div h6,
  .profile_settings_block_info div span {
    font-size: 14px;
    line-height: 20px;
  }
}
