.put_on_marketplace {
  padding-top: 90px;
}

.put_on_marketplace_header {
  margin: 30px 0;
}

.put_on_marketplace_header h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000;
  margin-bottom: 20px;
}

.dark .put_on_marketplace_header h2 {
  color: #fff;
}

.put_on_marketplace_menu {
  display: flex;
  justify-content: space-between;
}

.put_on_marketplace .filter_wrapper {
  margin: 0;
}

.put_on_marketplace_search {
  position: relative;
}

.put_on_marketplace_search input {
  background: #e9f1ff;
  border-radius: 10px;
  border: 1px solid#606060;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  padding: 8px 40px 8px 10px;
  transition: 0.2s;
  position: relative;
  width: 300px;
  color: #000;
}
.dark .put_on_marketplace_search input {
  transition: 0.2s;
  background: #141233;
  color: #fff;
}

.put_on_marketplace_search button {
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  background: transparent;
  cursor: pointer;
  transition: 0.4s;
}

.put_on_marketplace_search button svg {
  margin-top: 4px;
  transition: 0.4s;
}

.dark .put_on_marketplace_search button svg path,
.dark .put_on_marketplace_search button svg circle {
  transition: 0.4s;
  stroke: #fff;
}

.put_on_marketplace_main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.put_on_marketplace_buttons_wrapper {
  background: #eff2ff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  padding: 15px 0;
  margin-top: 50px;
}

.put_on_marketplace_buttons_wrapper.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.dark .put_on_marketplace_buttons_wrapper {
  background: #292560;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

.put_on_marketplace_buttons {
  display: flex;
  justify-content: center;
}

.put_on_marketplace_buttons a:first-child {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background: linear-gradient(90.12deg, #6a37fd -10.07%, #9e2993 116.16%);
  border: 1px solid #797979;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 12px;
  padding: 15px 50px;
  outline: none;
  margin: 0 20px;
  display: block;
}

.put_on_marketplace_buttons a.disabled,
.put_on_marketplace_buttons div:nth-child(2) a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  background: transparent;
  color: #000;
}

.dark .put_on_marketplace_buttons a.disabled,
.dark .put_on_marketplace_buttons div:nth-child(2) a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  background: transparent;
  color: #fff;
}

.put_on_marketplace_buttons div:nth-child(2) a {
  font-family: Poppins;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background: linear-gradient(90.31deg, #6900d1 -7.12%, #4075ff 110.52%);
  border: 1px solid #797979;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 15px 15px;
  border-radius: 12px;
  margin: 0 20px;
  text-align: center;
}

.put_on_marketplace .__react_component_tooltip.show {
  border: 1px solid #4075ff;
  border-radius: 3px;
  max-width: 250px;
}

.put_on_marketplace_buttons .inf_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.put_on_marketplace_buttons .inf_btn img {
  max-width: 24px;
}

@media (max-width: 575.98px) {
  .put_on_marketplace_menu {
    flex-direction: column;
    align-items: flex-end;
  }
  .put_on_marketplace_search input {
    width: 100%;
  }
  .put_on_marketplace_search {
    margin-bottom: 20px;
    width: 100%;
  }
  .put_on_marketplace_buttons div:nth-child(2) a,
  .put_on_marketplace_buttons a:first-child {
    margin: 0 8px;
    font-size: 17px;
    padding: 10px;
    width: 150px;
    text-align: center;
  }
}
