.popup {
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  transform: scale(0);
  left: 0;

  height: 100vh;
  transition: 0.1s;
  overflow: hidden;
}

.popup.active {
  transition: 0.1s;
  transform: scale(1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.popup-wrapper {
  position: fixed;
  z-index: 100000;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  transition: 0.7s;
  overflow: hidden;
  background: url("/src/assets/img/popup-bg.png") no-repeat center;
  background-size: cover;
}

.active .popup-wrapper {
  opacity: 1;
}
.main-popup {
  position: absolute;
  width: 550px;
  min-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.defi_popup {
  width: 80vw;
}

.popup-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #00ffff;

  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 10px;
}

.popup-header h6 {
  margin: 20px 0;
}

.popup-main {
  display: flex;
  justify-content: space-around;
}

.popup-main div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-main a.staking {
  background: #000000;
  border: 1px solid #00ffff;
  box-sizing: border-box;
  background: transparent;
  width: 90%;
  height: 160px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 0;
}

.popup-main a img {
  margin: 0 auto;
}

.popup-main a:hover {
  transition: 0.4s;
  background-color: #00ffff;
  border-color: blue;
}

.close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
}

.got_it{
        border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    background: url('../../assets/img/learn_more_button_bg.png') no-repeat center;
    background-size: contain;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    transition: opacity 0.4s;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
    position: absolute;
    bottom: 40px;
}

.got_it::before{
    content: '';
    background: url('../../assets/img/signup_button_bg.png') no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
}

.got_it:hover{
  transition: 0.4s;
  background: transparent;
  color: #141233 !important;
}

.dark .got_it:hover{
  transition: 0.4s;
  background: transparent;
  color: #fff !important;
}

.got_it:hover::before{
  transition: 0.4s;
  opacity: 1;
}

.defi_popup .close svg rect {
  fill: #000;
}

.staking {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 575.98px) {
  
.got_it{
  width: 100px;
  bottom: 20px;
}
  
  .main-popup {
    width: 310px;
  }
  .message_popup  .close {
    right: 20px;
    top: 150px;
  }
}
