.creator_account {
  padding-top: 50px;
  margin-top: 80px;
  padding-bottom: 50px;
}

.creator_account_avatar {
  background: url('../../../assets/img/creator_account_avatar_bg.png') no-repeat
    center;
  background-size: 100% 100%;
  width: 156px;
  height: 156px;
  margin: 0 auto;
  margin-top: -75px;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.dark .creator_account_avatar {
  background: url('../../../assets/img/creator_account_avatar_bg_dark.png')
    no-repeat center;
  background-size: 100% 100%;
}

.creator_account_main_header {
  position: relative;
  margin: 0 -30px;
}

.collection_left_block {
  position: absolute;
  left: 0;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection_right_block {
  position: absolute;
  right: 0;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator_account_main_header h6 span {
  color: #000;
  margin-right: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
}

.dark .creator_account_main_header h6 span {
  color: #fff;
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.img_line {
  margin: 0 -30px;
  position: relative;
}

.account_img_edit {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #8d8ea4;
  border: none;
  outline: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.account_img_edit.active {
  opacity: 1;
}

.account_img_edit img {
  width: 18px;
  height: 18px;
}

.creator_account_main_header h6 {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0;
  background: linear-gradient(
    90deg,
    #00fff0 -11.83%,
    #063dff 46.29%,
    #9206ff 107.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creator_account_info {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.creator_account_info > div:first-child {
  display: flex;
  justify-content: center;
}

.creator_account_info > div > span {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #000;
  margin: 20px 15px 0;
}

.creator_account_info > div > span img {
  width: 25px;
}

.creator_account_info > div > span:nth-child(2) img {
  width: 20px;
}

.dark .creator_account_info > div > span {
  color: #fff;
}

.creator_account_info h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 64px;
  color: #000;
}

.dark .creator_account_info h4 {
  color: #ffffff;
}

.account_wallet {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.dark .account_wallet {
  color: #ffffff;
}

.account_balance {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 10px;
}
.account_balance img {
  margin-right: 10px;
}

.dark .account_balance {
  color: #ffffff;
}

.account_info {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}

.dark .account_info {
  color: #bbbbbb;
}

.account_links {
  display: flex;
  justify-content: center;
}

.account_links div {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.account_links div span {
  margin: 20px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
.dark .account_links div span {
  color: #fff;
}

.account_links div span i {
  color: #36dafc;
  font-style: normal;
  padding-right: 5px;
}

.collection_right_block button {
  font-size: 14px !important;
  width: 180px !important;
  height: 45px !important;
  margin-right: -15px !important;
}

.account_follow,
.collection_right_block button,
.collection_left_block button,
.create_collection {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  background: url('../../../assets/img/learn_more_button_bg.png') no-repeat
    center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.account_links div .account_share span,
.account_links div .account_follow span,
.create_collection span {
  font-size: 16px;
}

.account_share {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  background: url('../../../assets/img/signup_button_bg.png') no-repeat center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.account_share::before {
  content: '';
  background: url('../../../assets/img/learn_more_button_bg.png') no-repeat
    center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.collection_right_block button::before,
.collection_left_block button::before,
.account_follow::before,
.create_collection::before {
  content: '';
  background: url('../../../assets/img/signup_button_bg.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.collection_right_block button:hover,
.collection_left_block button:hover,
.account_follow:hover,
.account_share:hover,
.create_collection:hover {
  transition: 0.4s;
  background: transparent;
  color: #141233 !important;
}
.dark .collection_right_block button:hover,
.dark .collection_left_block button:hover,
.dark .account_follow:hover,
.dark .account_share:hover,
.dark .create_collection:hover {
  transition: 0.4s;
  background: transparent;
  color: #fff !important;
}
.collection_right_block button:hover::before,
.collection_left_block button:hover::before,
.account_follow:hover::before,
.account_share:hover::before,
.create_collection::before {
  transition: 0.4s;
  opacity: 1;
}

.create_collection {
  font-size: 14px;
  width: 150px;
  height: 45px;
  margin: 0;
}

.grid_menu {
  display: none;
}

.copy_btn {
  border: none;
  background: none;
  cursor: pointer;
}

.copy_block {
  background: linear-gradient(90deg, #37dbff -5.68%, #df17ff 107.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.account_share span {
  position: relative;
  z-index: 2;
}

.creator_account_main_block .marketplace_block_wrapper {
  margin: 0 0 20px;
  max-width: 24%;
}

.creator_account_search input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #55526a;
  padding-right: 30px;
}

.creator_account_search {
  width: 28%;
}

.dark .creator_account_search input {
  color: #fff;
}

.creator_account_search button {
  background: none;
  outline: none;
  border: none;
  margin-left: -30px;
  padding: 0;
  position: absolute;
}

.dark .creator_account_search button svg path,
.dark .creator_account_search button svg circle {
  stroke: #fff;
}

.mobile_level {
  display: none;
}
.filter_button {
  background: none;
}

.filter_button.open,
.filter_button:hover {
  background: none;
}

.creator_account_menu {
  display: flex;
  margin: 40px 0 20px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(144, 144, 144, 0.5);
}

.creator_account_filter_center button {
  border: none;
  outline: none;
  background: url('../../../assets/img/creator_accoun_center_btn_border.png')
    no-repeat center;
  background-size: contain;
  padding: 15px 30px;
  color: #313139;
  margin: 0 20px;
  cursor: pointer;
}

.dark .creator_account_filter_center button {
  background: url('../../../assets/img/creator_accoun_center_btn_border_dark.png')
    no-repeat center;
  background-size: contain;
}

.creator_account_filter_center button:hover {
  color: #ab54ff !important;
  background: url('../../../assets/img/creator_accoun_center_btn_border_hover.png')
    no-repeat center;
  background-size: contain;
}

.creator_account_filter_center button.active {
  color: #ab54ff !important;
  background: url('../../../assets/img/creator_accoun_center_btn_border_hover.png')
    no-repeat center;
  background-size: contain;
}

.dark .creator_account_filter_center button {
  color: #fff;
}

.creator_account_menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: -1px !important;
}

.creator_account_menu button,
.creator_account_menu a {
  border: none;
  background: none;
  outline: none;
}

.creator_account_menu a.active {
  border: none !important;
}

.creator_account_menu a.active .line {
  background: linear-gradient(90deg, #37dbff -5.68%, #df17ff 107.39%);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}

.creator_account_menu a.active span {
  background: linear-gradient(90deg, #37dbff -5.68%, #df17ff 107.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creator_account_menu button,
.creator_account_menu a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  margin: 0 10px;
  cursor: pointer;
  white-space: nowrap;
}

.creator_account_menu button span i,
.creator_account_menu a span i {
  font-style: normal;
  color: #36dafc;
}

.dark .creator_account_menu button,
.dark .creator_account_menu a {
  color: #ffffff;
}

.creator_account_main_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creator_account_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create_collection_mobile {
  display: none;
}

.grid_menu button {
  background: none;
  border: none;
  outline: none;
}

.grid_filter {
  display: flex;
  align-items: center;
}

@media (max-width: 991.98px) {
  .creator_account_main_header h6 span {
    display: none;
  }
  .creator_account_filter .header_search {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    opacity: 1;
    background: transparent;
    width: auto;
    height: auto;
  }

  .account_collection .creator_account_menu button,
  .account_collection .creator_account_menu a {
    font-size: 13px;
  }
  .create_collection {
    display: none;
  }

  .create_collection_mobile {
    display: block;
    margin: 20px auto 0;
  }
  .creator_account_filter {
    flex-wrap: wrap;
  }
  .creator_account_filter_center {
    width: 100%;
    order: 1;
    justify-content: center;
    display: flex;
  }

  .creator_account_search {
    order: 2;
    width: auto;
  }

  .grid_filter {
    order: 3;
    width: 50%;
    justify-content: flex-end;
  }
  .creator_account_main_block .marketplace_block_wrapper {
    margin: 0 0 20px;
    max-width: 48%;
  }
}

@media (max-width: 767.98px) {
  .two_rows.creator_account_main_block .marketplace_block_wrapper {
    max-width: 48%;
  }

  .one_row.creator_account_main_block .marketplace_block_wrapper {
    max-width: 88%;
  }

  .one_row.creator_account_main_block {
    justify-content: center;
  }
  .creator_account_main_header h6.mobile_level {
    display: block;
    margin: 0 auto;
    top: 0;
    text-align: center;
  }

  .creator_account_info > div > span {
    margin: 0 15px 0;
  }
  .collection_left_block h6 {
    display: none;
  }

  .collection_right_block {
    display: none;
  }

  .collection_left_block button {
    font-size: 12px;
    width: 95px;
  }

  .collection_left_block {
    top: 50px;
  }
  .account_collection .creator_account_menu button,
  .account_collection .creator_account_menu a {
    width: 140px;
    margin: 2px 8px;
  }

  .creator_account_filter .header_search {
    width: 100%;
  }
  .creator_account_filter .header_search input {
    width: 100%;
    margin: 0;
  }
  .img_line {
    margin: 0;
  }
  .creator_account_menu_wrapper {
    overflow-x: scroll;
  }

  .creator_account_menu_wrapper::-webkit-scrollbar {
    width: 0;
    opacity: 0;
    height: 0;
  }
  .creator_account_menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .creator_account_menu button {
    margin: 10px;
  }
  .creator_account_main_header {
    margin: 0;
  }
  .creator_account_main_header h6 {
    font-size: 16px;
    top: 30px;
  }

  .creator_account_avatar {
    margin-top: -45px;
  }
  .account_links div span {
    font-size: 18px;
  }
  .grid_menu {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .creator_account_search input {
    width: 100%;
  }
  .creator_account_search {
    width: 46%;
  }
  .creator_account_menu_wrapper {
    margin: 0 -15px;
  }
  .collection_block_ava {
    width: 50px;
    height: 50px;
  }

  .collection_block_ava img {
    max-width: 35px;
  }
  .img_line .account_img_edit {
    display: none;
  }

  .img_line img {
    height: 90px;
    width: auto;
  }
  .creator_account_menu button {
    margin: 2px;
  }
  .account_balance {
    font-size: 16px;
  }
  .creator_account_avatar {
    width: 80px;
    height: 80px;
  }
  .marketplace_block {
    padding: 5px;
  }
  .marketplace_block_info {
    padding: 5px 0;
  }
  .creator_account_main_block .marketplace_block_wrapper {
    margin: 0 0 10px;
  }
  .marketplace_block_footer span {
    font-size: 12px;
  }
  .collection_block_wrapper .marketplace_block_img {
    padding-top: 10px;
  }
  .marketplace_block_img_wrapper {
    border-radius: 7px;
  }
  .grid_menu button {
    padding: 0 5px;
  }
}
