.content_marketplace_header{
    margin-top: 90px;
}

.content_marketplace_header_main{
    padding-top: 40px;
}

.content_marketplace_header_menu{
    display: flex;
    margin: 30px 0 30px;
}

.content_marketplace_header_main_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px;
}

.content_marketplace_header_menu button{
    background: url('../../../assets/img/btn_content_menu.png') no-repeat center;
    background-size: 100% 100%;
    border: none;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 10px;
    min-width: 80px;
    margin: 0 20px 0 0;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}


.content_marketplace_header_menu button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../../assets/img/btn_content_menu_hover_before.png') no-repeat center;
    background-size: 100% 100%;
    margin-top: -10px;
    margin-left: 5px;
    z-index: 1;
    margin-top: -85px;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
}

.content_marketplace_header_menu button:hover::before, .content_marketplace_header_menu button.active::before{
    opacity: 1;
    margin-top: -10px;
    transition: 0.4s;
}

.content_marketplace_header_menu button:hover, .content_marketplace_header_menu button.active{
    transition: 0.4s;
    background: url('../../../assets/img/btn_content_menu_hover.png') no-repeat center;
    background-size: 100% 100%;
}

.filter_wrapper{
    margin: 30px 0;
}

.filter_button{
    background: url('../../../assets/img/btn_content_menu.png') no-repeat center;
    background-size: 100% 100%;
    border: none;
    outline: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 10px;
    min-width: 80px;
    cursor: pointer;
    position: relative;
}


.filter_block{
    position: absolute;
    background: #141233;
    border: 1px solid #7E7E7E;
    z-index: 2;
    border-radius: 5px;
}

.filter_block ul{
    margin: 0;
    padding:0;
}


.filter_block ul li{
    list-style: none;
    color: #fff;
    width: 300px;
    border-bottom: 1px solid #7E7E7E;
    display: flex;
    flex-direction: column;
}

.filter_block ul li .filter_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.filter_fields{
    background: #1B1845;
}


.filter_fields input, .price_filter select{
    color: #fff;
}


.status_filter{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}


.status_filter input{
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #797979;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 12px;
    padding: 5px 10px;
    width: 40%;
}

.price_filter{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}


.price_filter select {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #797979;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 12px;
    padding: 5px 10px;
    outline: none;
    margin: 0 15px;
}

.price_filter_range {
    display: flex;
    margin: 20px 15px 10px;
    align-items: center;
    justify-content: space-between;
}

.price_filter_range input{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #797979;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 12px;
    padding: 5px 10px;
    width: 40%;
    outline: none;
}

.price_filter .applay{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #797979;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 12px;
    padding: 5px 10px;
    width: 36%;
    margin: 10px 15px 0;
    color: rgba(86, 133, 255, 0.45);
}

.collections_filter{
    padding: 10px;
    position: relative;
}

.collections_filter input{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #797979;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 12px;
    padding: 5px 40px 5px 10px;
    width: 100%;
    outline: none;
}

.collections_filter button{
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
}


.chains_filter{
    padding: 50px;
    text-align: center;
}

.categories_filter{
    display: flex;
    flex-direction: column;
}

.categories_filter button{
    background: none;
    border: none;
    text-align: left;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.categories_filter button svg {
    margin-right: 10px;
}

.on_sale_in_search{
    position: relative;
    padding:10px;
}


.on_sale_in_search input{
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #797979;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 12px;
    padding: 5px 40px 5px 10px;
    width: 100%;
    outline: none;
}

.on_sale_in_search button{
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
}

.on_sale_in_checkbox{
    position: relative;
    padding:0 10px;
}


.on_sale_in_checkbox .checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}