.home-page {
  padding: 130px 0 50px;
  overflow-x: hidden;

  .container {
  }
}

.home-banners {
  margin: 12px -30px 0 -30px;
  position: relative;

  .home-banners-item {
  }

  .slick-slide {
  }
}

.home-page-create {
  width: -webkit-fill-available;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 103px 86px 82px;
  border-radius: 20px;
  position: relative;
  margin-right: 15px;
  border: 1px solid #9dcaff;
  height: 383px;

  &__title {
    font-family: 'Furore', arial;
    font-weight: normal;
    font-size: 47px;
    line-height: 54px;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: auto;
    right: 0;
  }

  .load_more {
    margin: 40px 0 0;
  }
}

.home-page-head {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}

.home-head-banners_slide_wrapper {
  padding: 0 1px;
}

.App .home-page-head .slick-dots li {
  display: inline-block;
}

.home-head-banners {
  width: 394px;
  .home-head-banners_slide {
    width: 100%;
    height: 383px;
    position: relative;
    border-radius: 10px;
    border: 2px solid #9dcaff;
    overflow: hidden;
  }
  img {
    width: auto;
    height: 100%;
  }
  h5 {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 3;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
  .slick-track {
    // display: flex;

    // max-width: 414px;
  }

  .slick-dots {
    bottom: 35px;
    z-index: 2;

    li {
      width: 78px;
      height: 4px;
      background: #313131;
      margin: 0 13px;
      // transition: 1s;
      width: 1%;

      &.slick-active {
        button {
          width: 100%;
          transition: width 4s;
        }
      }
      button {
        width: 0;
        height: 100% !important;
        padding: 0;
        transition: width 0s linear 0.1s;
        background: #0085ff !important;
        border-radius: 0 !important;
      }
    }

    li button:before {
      opacity: 0 !important;
    }
  }
}

.dark .home-head-banners .slick-dots li {
  background: #ffffff;
}

.App .slick-dots li {
  display: none;
  transition: 0.4s;
}

.slick-dots li.slick-active {
  display: inline-block;
  transition: 0.4s;
}

.slick-dots li.lg_dots {
  display: inline-block;
  transition: 0.4s;
}

.slick-dots li.sm_dots {
  display: inline-block;
  transition: 0.4s;
}

.slick-dots li.lg_dots button:before {
  font-size: 14px !important;
}

.home_top_collection .marketplace_block_footer {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 103.5%;
  color: #ffffff;
  margin: 35px 0 15px -20px;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  display: inline-flex;
  max-width: 1402px;

  span {
    margin-left: 13px;
  }

  img {
    margin-left: 13px;
    margin-right: 13px;
  }

  &.subtitle_white {
    color: #313139;
  }
}

.home .marketplace_block {
  margin-top: 35px;
}

.gradient-btn {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin-top: 7px;
  }
}

.gradient-txt {
  background: linear-gradient(180deg, #79a8ff 0%, #d516ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle img {
  transition: 0.4s;
}

.subtitle img.active {
  transition: 0.4s;
  transform: rotate(180deg);
}

.sellers-column {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 245px;

  .creator_block_info {
    width: 225px;
  }
}

.sellers-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-page .marketplace_block_wrapper {
}

.collection-slider.sellers-slider {
  .creator_block_info {
    margin: 10px 20px;
    max-width: 260px;
  }
}

.marketplace_main {
  margin-top: 0;
  padding-bottom: 95px;

  .marketplace_block_wrapper {
    margin: 0 auto;
  }
}

.load_more {
  margin: 70px auto 0;
}

.collection-slider {
  max-width: 1300px;
  margin: 0 auto 0px;

  &.collection {
  }

  &.marketplace-slider {
  }

  .container {
    padding: 0;
  }

  .sellers-column .creator_block_info {
    width: 246px;
  }
}

.mobile {
  display: none;
}

.explore_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subtitle.subtitle_collection,
.subtitle.subtitle_sellers {
  position: relative;
}

.subtitle.subtitle_sellers > div {
  position: relative;
}

.subtitle.subtitle_collection .ReactCollapse--collapse,
.subtitle.subtitle_sellers .ReactCollapse--collapse {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 2;
  transition: none;
}
.home_dropdown span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 103.5%;
  color: #313131;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
}

.home_dropdown span svg {
  opacity: 0;
}

.home_dropdown span.active svg {
  opacity: 1;
}
.home_dropdown span:hover {
  background: #e9f1ff;
}

.dark .home_dropdown span:hover {
  background: #2a2666;
}

.selected_block_price_dropdown_main.home_dropdown {
  border: 1px solid #0075ff;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.dark .home_dropdown span {
  color: #ffffff;
}

.home_dropdown span.active {
  color: #0085ff;
}

.home-page .slick-dots li {
  width: 15px;
}

.marketplace .home-page-head .slick-dots {
  top: auto;
  border: none;
}
.marketplace .home-page-head .slick-dots li {
  width: 40px;
  margin: 0 5px;
}

.marketplace .home-banners .slick-prev {
}

.marketplace .home-banners .slick-next {
}
.home-banners::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

.home_sellers_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0 20px;
}

.rewards_block {
  background: linear-gradient(90deg, #9707df 0%, #37a2fd 100%);
  border: 1px solid #0075ff;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  max-height: 55px;
  padding: 4px 10px;
  font-family: Furore;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #ffffff;
  min-width: 600px;
  justify-content: space-around;
}

.rewards_block div {
  background: #17133b;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 37px;
  padding-left: 10px;
}

.rewards_block div span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #00ffe0;
}

.rewards_bsc img {
  margin: 0 8px;
}

.my-custom-pagination-div {
  text-align: center;
  margin-top: 20px;
}

.my-custom-pagination-div .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #717171;
  margin: 0 7px;
  transition: 0.4s;
}

.my-custom-pagination-div
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 45px;
  border-radius: 7px;
  background: linear-gradient(90deg, #66c7ff 4.17%, #ce21ff 100%);
  opacity: 1;
}

@media (max-width: 1290px) {
  .home-banners {
    margin: 40px 0 0 0;
  }
  .home-page-head {
    margin: 0;
  }
  .subtitle {
    margin: 59px 0 20px;
  }
}

@media (max-width: 1199px) {
  .home_sellers_title {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .rewards_block {
    margin: 0 auto;
  }
  .home_sellers_title h4 {
    margin: 40px 0 0;
  }
}

@media (max-width: 992px) {
  .marketplace .home-banners .slick-prev,
  .marketplace .home-banners .slick-next {
    display: none;
  }
  .home-page .marketplace_block_wrapper {
    max-width: 90%;
  }
  .join_btn {
    width: 100px !important;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile {
    display: block;
  }
  .home-page-head {
    flex-direction: column;
  }
  .home-head-banners {
    margin: 28px auto 0;
    width: 400px;

    .slick-dots {
      width: 100%;
      bottom: 25px;
    }
  }

  .home-page-create {
    padding: 41px 25px 125px;
    margin-right: 0;
    overflow: hidden;

    &__title {
      font-size: 30px;
      line-height: 35px;
    }

    .load_more {
      margin-top: 24px;
    }

    &__img {
      max-height: 220px;
      right: -50px;
    }
  }
  .home-banners-item {
    width: 140px;
    height: 140px;
  }
  .home-banners {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 35px;
    touch-action: none;

    .home-banners-item {
      width: 144px;
      min-width: 144px;
      height: 141px;
      padding: 20px;
      margin: 0 auto;

      &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #ebebeb;
      }
    }
  }

  .home-banners .slick-track {
  }
}

@media (max-width: 767px) {
  .home-page .marketplace-slider,
  .home-page .sellers-slider {
    margin-bottom: 40px;
  }
  .home-head-banners {
    margin-bottom: 0;
  }
  .home-head-banners + .subtitle {
    margin-top: 35px;
  }
  .subtitle {
    margin-top: 100px;
    font-size: 24px;
  }

  .content_marketplace_header_menu_mobile {
    margin-bottom: 20px;
  }

  .event-item {
    margin: 35px auto 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .subtitle_collection {
    margin-top: 0px;
  }

  .collection-slider .marketplace_block_wrapper {
    max-width: 48%;
  }
  .categories_mobile_button,
  .filter .filter_button {
    font-size: 24px;
    padding: 23px 30px;
    width: 100%;
  }
  .home-page-create__img {
    max-height: 170px;
  }
  .home-page .collection-slider .marketplace_block_wrapper {
    max-width: 98%;
  }
  .home-page .content_marketplace_header_menu_mobile .categories_filter,
  .home-page .filter .filter_block {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .home-page .collection_block_wrapper .marketplace_block_footer span {
    font-size: 12px;
  }
  .home-page .events {
    margin-bottom: 30px;
  }
  .home-banners .home-banners-item {
    width: 110px;
    min-width: 120px;
    height: 120px;
    padding: 10px;
  }
  .home-head-banners .home-head-banners_slide {
    height: auto;
  }
  .collection-slider.sellers-slider .creator_block_info {
    margin: 10px;
  }
  .subtitle {
    margin-top: 60px;
  }
  .home-page-create {
    height: auto;
  }
  .explore_main {
    justify-content: center;
  }
  .home-page .collection-slider .marketplace_block_wrapper {
    max-width: 290px;
  }

  .home-page .collection-slider.home_top_collection .marketplace_block_wrapper {
    max-width: 95%;
    .collection_block_ava {
      height: 40px;
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media (max-width: 470px) {
  .home-banners .home-banners-item {
    width: 100%;
    min-width: 100%;
    height: 105px;
    padding: 5px;
    .home-banners-item__title {
      display: none;
    }
  }
  .home-page {
    .container {
      padding: 0 20px;
    }
  }
  .home-head-banners {
    width: 100%;
  }
  .home-banners {
    margin: 20px 0;
  }
  .collection-slider.sellers-slider .creator_block_info {
    margin: 10px 5px;
    max-width: 210px;
  }
  .subtitle {
    font-size: 18px;
  }
  .home_dropdown span {
    font-size: 18px;
  }
}

@media (max-width: 374.9px) {
  .home-page .collection-slider .marketplace_block_wrapper {
    max-width: 290px;
  }

  .home-banners .home-banners-item {
    width: 100%;
    min-width: 100%;
    height: 105px;
    padding: 5px;
  }
  .join_btn {
    width: 75px !important;
  }
}

.events {
  padding-top: 20px;
  margin-bottom: 30px;
  .subtitle {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.home-page .content_marketplace_header_main_wrapper {
  margin-top: 0;
}
