.home-page {
  padding: 130px 0 50px;

  .container {
  }
}

.home-banners {
  margin: 40px -80px 0 -60px;

  .home-banners-item {
  }

  .slick-slide {
  }
}

.home-page-create {
  width: -webkit-fill-available;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 103px 86px 82px;
  border-radius: 20px;
  position: relative;
  margin-right: 15px;
  border: 1px solid #9dcaff;
  height: 383px;

  &__title {
    font-family: 'Furore', arial;
    font-weight: normal;
    font-size: 47px;
    line-height: 54px;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: auto;
    right: 0;
  }

  .load_more {
    margin: 40px 0 0;
  }
}

.home-page-head {
  display: flex;
  justify-content: space-between;
  margin: 0 -60px;
}

.home-head-banners_slide_wrapper {
  padding: 0 1px;
}

.home-head-banners {
  width: 30%;
  .home-head-banners_slide {
    width: 100%;
    height: 383px;
    position: relative;
    border-radius: 10px;
    border: 2px solid #9dcaff;
    overflow: hidden;
  }
  img {
    width: auto;
    height: 100%;
  }
  h5 {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 3;
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }
  .slick-track {
    // display: flex;

    // max-width: 414px;
  }

  .slick-dots {
    bottom: 35px;
    z-index: 2;

    li {
      width: 78px;
      height: 4px;
      background: #313139;
      margin: 0 13px;

      &.slick-active {
        background: #0085ff;
      }
    }

    li button:before {
      opacity: 0 !important;
    }
  }
}

.subtitle {
  font-weight: bold;
  font-size: 30px;
  line-height: 103.5%;
  color: #ffffff;
  margin: 59px -60px 0;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  display: inline-flex;
  max-width: 1402px;

  span {
    margin-left: 13px;
  }

  img {
    margin-left: 13px;
  }

  &.subtitle_white {
    color: #313139;
  }
}

.marketplace_block {
  margin-top: 35px;
}

.gradient-txt {
  background: linear-gradient(180deg, #79a8ff 0%, #d516ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.subtitle img {
  transition: 0.4s;
}

.subtitle img.active {
  transition: 0.4s;
  transform: rotate(180deg);
}

.sellers-column {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 245px;

  .creator_block_info {
    width: 225px;
  }
}

.sellers-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collection-slider.sellers-slider {
  .creator_block_info {
    margin: 10px 20px;
  }
}

.marketplace_main {
  margin-top: 0;
  padding-bottom: 95px;

  .marketplace_block {
    margin-top: 0;
  }

  .marketplace_block_wrapper {
    margin: 0 auto 15px;
  }
}

.load_more {
  margin: 70px auto 0;
}

.collection-slider {
  max-width: 1300px;
  margin: 0 auto 0px;

  &.collection {
    margin-bottom: -30px;
  }

  &.marketplace-slider {
    margin-top: -40px;
  }

  .container {
    padding: 0;
  }

  .sellers-column .creator_block_info {
    width: 246px;
  }
}

.mobile {
  display: none;
}

.explore_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.subtitle.subtitle_collection {
  position: relative;
}

.subtitle.subtitle_collection .ReactCollapse--collapse {
  position: absolute;
  bottom: -135px;
  right: 0;
  z-index: 2;
  transition: none;
}
.home_dropdown span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 103.5%;
  color: #313131;
  padding: 5px 0;
}

.selected_block_price_dropdown_main.home_dropdown {
  border: 1px solid #0075ff;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.dark .home_dropdown span {
  color: #ffffff;
}

.home_dropdown span.active {
  color: #0085ff;
}

.home-page .slick-dots li {
  width: 15px;
}

.marketplace .home-page-head .slick-dots {
  top: auto;
  border: none;
}
.marketplace .home-page-head .slick-dots li {
  width: 50px;
}

.marketplace .home-banners .slick-prev {
}

.marketplace .home-banners .slick-next {
  right: -25px;
}

@media (max-width: 1270px) {
  .home-banners {
    margin: 40px 0 0 0;
  }
  .home-page-head {
    margin: 0;
  }
  .subtitle {
    margin: 59px 0 0;
  }
}

@media (max-width: 992px) {
  .join_btn {
    width: 100px !important;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile {
    display: block;
  }
  .home-page-head {
    flex-direction: column;
  }
  .home-head-banners {
    margin: 28px auto 0;
    width: 400px;

    .slick-dots {
      width: 100%;
      bottom: 25px;
    }
  }

  .home-page-create {
    padding: 41px 25px 125px;
    margin-right: 0;
    overflow: hidden;

    &__title {
      font-size: 30px;
      line-height: 35px;
    }

    .load_more {
      margin-top: 24px;
    }

    &__img {
      max-height: 220px;
      right: -50px;
    }
  }
  .home-banners-item {
    width: 140px;
    height: 140px;
  }
  .home-banners {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 35px;

    .home-banners-item {
      width: 144px;
      min-width: 144px;
      height: 141px;
      padding: 20px;
      margin: 0 auto;

      &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #ebebeb;
      }
    }
  }
  .collection-slider.collection {
    margin-bottom: 130px;
  }
  .home-banners .slick-track {
  }
}

@media (max-width: 767px) {
  .home-head-banners {
    margin-bottom: 0;
  }
  .home-head-banners + .subtitle {
    margin-top: 35px;
  }
  .subtitle {
    margin-top: 100px;
    font-size: 24px;
  }

  .content_marketplace_header_menu_mobile {
    margin-bottom: 20px;
  }

  .event-item {
    margin: 35px auto 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .subtitle_collection {
    margin-top: 0px;
  }

  .collection-slider .marketplace_block_wrapper {
    max-width: 48%;
  }
  .categories_mobile_button,
  .filter .filter_button {
    font-size: 24px;
    padding: 23px 30px;
    width: 100%;
  }
  .home-page-create__img {
    max-height: 170px;
  }
  .home-page .collection-slider .marketplace_block_wrapper {
    max-width: 98%;
  }
  .home-page .content_marketplace_header_menu_mobile .categories_filter,
  .home-page .filter .filter_block {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .home-banners .home-banners-item {
    width: 110px;
    min-width: 120px;
    height: 120px;
    padding: 10px;
  }
  .home-head-banners .home-head-banners_slide {
    height: auto;
  }
  .collection-slider.sellers-slider .creator_block_info {
    margin: 10px;
  }
  .subtitle {
    margin-top: 60px;
  }
  .home-page-create {
    height: auto;
  }
  .explore_main {
    justify-content: center;
  }
  .home-page .collection-slider .marketplace_block_wrapper {
    max-width: 290px;
  }

  .home-page .collection-slider.home_top_collection .marketplace_block_wrapper {
    max-width: 95%;
    .collection_block_ava {
      height: 40px;
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media (max-width: 470px) {
  .home-page {
    .container {
      padding: 0 20px;
    }
  }
  .home-head-banners {
    width: 100%;
  }
  .home-banners {
    margin: 20px -20px;
  }
  .collection-slider.sellers-slider .creator_block_info {
    margin: 10px 20px;
  }
  .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 374.9px) {
  .home-page .collection-slider .marketplace_block_wrapper {
    max-width: 290px;
  }

  .home-banners .home-banners-item {
    width: 100px;
    min-width: 100px;
    height: 110px;
    padding: 5px;
  }
  .join_btn {
    width: 75px !important;
  }
}

.events {
  padding-top: 40px;
  margin-bottom: 105px;
  .subtitle {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}
