.charities_single_block_wrapper {
  max-width: 250px;
  margin: 0;
}

.charities_single_block_wrapper h6 {
  display: flex;
  justify-content: space-between;
}

.charities_single_block_wrapper h6 span {
  display: flex;
  align-items: center;
  line-height: 0;
  background: #0075ff;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
}

.charities_single_block_wrapper h6 span img {
  margin-right: 4px;
}
.charities_single_block_wrapper .marketplace_block_img {
  position: relative;
}

.charities_single_block_wrapper .selected_block_timer {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1199.98px) {
  .charities_single_block_wrapper {
    max-width: 230px;
    margin: 0 auto;
  }
  .charities_single_header_img_wrapper img {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .charities_single_block_wrapper {
    max-width: 250px;
  }
}
