header {
    background: #E9F1FF;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    height: 90px;
    position: fixed;
    z-index: 1111;
    width: 100%;
    top: 0;
    transition: 0.5s;
}

.dark header{
  transition: 0.5s;
  background: #141233;
  box-shadow: 0px 4px 25px 0px #00000040;
}

.header_main{
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
}


.header_left_menu a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.4s;
}

.dark .header_left_menu a{
  transition: 0.4s;
  color: #fff;
}

.header_left_menu a:hover{
  transition: 0.4s;
  color: #0075FF !important;
}

.header_search{
    position: relative;
}


.header_search input{
  background: #E9F1FF;
  border-radius: 10px;
  border: 1px solid#606060;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    padding: 8px 40px 8px 10px;
    transition: 0.2s;
}

.dark .header_search input{
  transition: 0.2s;
  background: #141233;

}


.header_search button{
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) scale(1);
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.header_search button svg{
 margin-top: 4px;
 transition: 0.4s;
}

.dark .header_search button svg path, .dark .header_search button svg circle{
 transition: 0.4s;
 stroke: #fff;
}

.header_search button:hover{
    transition: 0.4s;
    transform: translateY(-50%) scale(1.1);
}

.header_right_menu{
    display: flex;
}




/* Position and sizing of burger button */
.bm-burger-button {
  z-index: 11111 !important;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 25px;
  top: 25px;
  background: #E3E6EC;
  background: url('../../img/menu_btn.png') no-repeat center;
  background-size: 80%;
  display: none;
}

.dark .bm-burger-button {
  background: url('../../img/menu_btn_dark.png') no-repeat center;
}

.open .bm-burger-button{
     background: url('../../img/menu_btn_close.png') no-repeat center;
}

.bm-cross-button{
    display: none !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  display: none;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #E9F1FF;
  font-size: 1.15em;
}

.dark .bm-menu{
  background: #141233;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  padding-top: 110px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-align: center;
}
div.menu-item div{
    display:flex;
    justify-content: center;
    padding: 10px 0;
}

div.menu-item div button{
    margin:15px;
    width: 40%;
}

div.menu-item div button:nth-child(2){
    color: #0075FF;
}

a.bm-item {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 22px;
text-align: center;
color: #0075FF;
outline: none;
text-decoration: none;
padding: 5px 0;
}

div.menu-item .soc_header_mobile{
    display: flex;
    justify-content: space-around;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.header_right_menu button:nth-child(3){
    color: #0075FF;
}

.mobile_search.header_search{
      display: none;
      }

      .header_main a span, .header_main button span{
    position: relative;
    z-index: 1;
  }
.header_main a:hover, .header_main button:hover{
    text-transform: 0.6s;
    color: #fff;
  }


  .header_logo {
    max-width: 170px;
  }

  

      @media (min-width: 1199.98px){
    header .container{
      position: relative;
    }

    header .header_main{
      position: absolute;
      width: 90vw;
      left: 50%;
      transform: translateX(-50%);
    }

    .header_search input{
      min-width: 274px;
    }
  }

  @media (min-width: 1399.98px){
  .header_search input {
      min-width: 400px;
  }
}

@media (max-width: 1199.98px){

  .header_main a, .header_main button{
      font-size: 12px;
  }

  
  .header_logo{
      width: 140px;
  }
}


@media (max-width: 991.98px) {
  .header_right_menu, .header_left_menu{
      display: none;
  }

  .header_search {
      display: none;
  }
  .bm-burger-button{
      display: block;
  }
  .mobile_search.header_search{
      display: block;
      margin-right: 55px;
      transition: 0.4s;
      margin-left: 5px;
  }


  .mobile_search.header_search.hidden input{
      padding: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: 0.2s;
  }
  .mobile_search.header_search.hidden input::-webkit-input-placeholder {
    opacity: 0;
   }
    .mobile_search.header_search.hidden input::-moz-placeholder {
    opacity: 0;
    }
    .mobile_search.header_search.hidden input:-ms-input-placeholder {
    opacity: 0;
    }
    .mobile_search.header_search.hidden input::-ms-input-placeholder {
    opacity: 0;
    }
    .mobile_search.header_search.hidden input::placeholder {
    opacity: 0;
    }
}



.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 75px;
  height: 34px;
  border: 1px solid #606060;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 7px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: transparent;
  transition: 0.3s ease all;
  z-index: 1;
}



/* Button 12 */
#button-12 .knobs:before,
#button-12 .knobs:after,
#button-12 .knobs span,
#button-12 .knobs span:before,
#button-12 .knobs span:after {
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  transition: 0.3s ease all;
  transform: translateY(-50%);
}

#button-12 .knobs:before {
  content: "\002600";
  left: 4px;
  top: 46%;
}



#button-12 .knobs:before,
#button-12 .knobs:after {
  color: #474444;
  z-index: 1;
  font-weight: 100;
}

#button-12 .knobs span {
  display: inline-block;
  z-index: 2;
}

#button-12 .knobs:after {
  content: "\263E";
  right: 4px;
  right: 8px;
    top: 45%;
    color: #fff;
    
}

#button-12 .knobs span,
#button-12 .knobs span:before,
#button-12 .knobs span:after {
  width: 20px;
  height: 34px;
  
}


#button-12 .knobs span:after {
  content: "\263E";
  color: #fff;
  font-weight: 100;
}

#button-12 .knobs span:before{
  content: "\002600";
  color: #fff;
  font-weight: 100;
}

#button-12 .knobs span:before {
  left: -40px;
  background: linear-gradient(90deg, #5507DF 3.7%, #34E7FD 100%);
  width: 37px;
  height: 100%;
}

#button-12 .knobs span:after {
  right: -56px;
  background: linear-gradient(90deg, #5507DF 3.7%, #34E7FD 100%);
  width: 37px;
  height: 100%;

}

#button-12 .checkbox:checked + .knobs span:before {
  left: 0px;
}

#button-12 .checkbox:checked + .knobs span:after {
  right: -90px;
}

#button-12 .checkbox:checked ~ .layer {
  background-color: transparent;
}

.ntf_header {
  background: url('../../img/ntf_button_bg.png') no-repeat center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 10px;
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.ntf_header:hover{
  transition: 0.4s;
  background: transparent;
  color: #141233 !important;
}

.dark .ntf_header:hover{
  transition: 0.4s;
  background: transparent;
  color: #fff !important;
}

.ntf_header::before {
  content: '';
  background: url('../../img/ntf_button_bg_dark.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.ntf_header:hover::before{
  transition: 0.4s;
  opacity: 1;
}