.explore_block_wrapper .mint {
  border: none;
  background: none;
  outline: none;
  margin: 0 auto;
}

.explore_block_wrapper .mint {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  background: url('../../../assets/img/learn_more_button_bg.png') no-repeat
    center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
  width: 70px;
  height: 25px;
  display: block;
}

.explore_block_wrapper .mint::before {
  content: '';
  background: url('../../../assets/img/signup_button_bg.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

.explore_block_wrapper .status {
  width: 21px;
  height: auto;
}

.explore_block_wrapper .mint:hover {
  transition: 0.4s;
  background: transparent;
  color: #141233 !important;
}

.dark .explore_block_wrapper .mint:hover {
  transition: 0.4s;
  background: transparent;
  color: #fff !important;
}

.explore_block_wrapper .mint:hover::before {
  transition: 0.4s;
  opacity: 1;
}

.explore_block_footer_content {
  padding: 7px 0 3px;
  justify-content: space-between;
}

.explore_block_info_content {
  min-height: 70px;
}

.explore_block_footer_content span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ifps_text {
  background: linear-gradient(360deg, #d901a3 26.32%, #e50148 68.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.explore_block_footer_content span .mint {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore_block_footer_content span .mint svg {
  margin: 0 0 0 5px;
}
