.main_how{
    padding: 50px 0;
}

.main_how_block{
    display: flex;
    margin: 20px 0;
}

.main_how_block div{
    width: 50%;
    padding: 50px;
}

.main_how_block div h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color: #0075FF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 30px 0;
}

.main_how_block div p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #464646;
}

.main_how_block_img img{
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 991.98px){
    .main_how_block_img img{
        max-width: 100%;
    }
    .main_how_block div h2{
        margin: 0;
    }

    .main_how_block_img{
        display: flex;
        align-items: center;
    }
    .main_how_block div h2{
        font-size: 48px;
    }
}


@media (max-width: 767.98px){
.main_how_block div p{
    font-size: 18px;
    line-height: 20px;
}
.main_how{
    padding: 20px 0;
}
}