footer{
    background: #E9F1FF;
    padding: 50px 0 80px;
    box-shadow: 0px 4px 25px 0px #00000040;

}

.dark footer{
    background: #151236;
}

.footer_logo{
    max-width: 150px;
    margin-top: 10px;
}

.footer_main{
    display: flex;
    justify-content: space-between;
}

.footer_left{
    display: flex;
}


.footer_menu {
    display: flex;
}

.footer_menu ul{
    margin: 0 0 0 60px;
    padding: 0;
}


.footer_menu ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_menu ul li a, .footer_menu ul li button{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    background: none;
    outline: none;
}
.dark .footer_menu ul li a, .dark .footer_menu ul li button{
    transition: 0.4s;
    color: #fff;
}


.footer_menu ul li a:hover, .footer_menu ul li button:hover{
    transition: 0.4s;
    color:#0075FF ;
}

.footer_right{
    display: flex;
}

.footer_right a, .footer_right button{
    margin-left: 20px;
    transition: 0.4s;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    display: flex;
}
.footer_right a img, .footer_right button img{
    width: 90%;
}

.footer_right a:hover, .footer_right button:hover{
    transition: 0.4s;
    transform: scale(1.1);
}

.dark footer svg path{
    fill: #fff;
}
@media (max-width: 1199.98px){
.footer_menu ul{
    margin: 0 0 0 40px;
}
}
@media (max-width: 991.98px){
    .footer_menu ul{
        margin: 0 0 0 15px;
    }
}

@media (max-width: 767.98px){
    .footer_main, .footer_left{
        flex-direction: column;
        align-items: center;
    }
    .footer_left{
        margin: 20px 0;
    }

    .footer_menu{
        margin-top: 20px;
    }
    .footer_right{
        width: 100%;
    }
    .footer_right a{
        margin: 0 auto;
    }
    .footer_menu ul{
        margin: 0 10px;
    }
    .footer_right a img {
        width: 30px;
        height: auto;
        margin: 0 auto;
    }
}

@media (max-width: 575.98px){.footer_menu{
    flex-direction: column;
    text-align: center;
}}