footer{
    background: #0075FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 50px 0 80px;
}

.footer_main{
    display: flex;
    justify-content: space-between;
}

.footer_left{
    display: flex;
}


.footer_menu {
    display: flex;
}

.footer_menu ul{
    margin: 0 0 0 20px;
    padding: 0;
}


.footer_menu ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_menu ul li a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.4s;
}


.footer_menu ul li a:hover{
    transition: 0.4s;
    color:#e6e6e6 ;
}

.footer_right{
    display: flex;
}

.footer_right a{
    margin-left: 20px;
    transition: 0.4s;
    cursor: pointer;
}
.footer_right a img{
    width: 90%;
}

.footer_right a:hover{
    transition: 0.4s;
    transform: scale(1.1);
}

@media (max-width: 767.98px){
    .footer_main, .footer_left{
        flex-direction: column;
        align-items: center;
    }
    .footer_left{
        margin: 20px 0;
    }

    .footer_menu{
        margin-top: 20px;
    }
    .footer_right{
        width: 100%;
    }
    .footer_right a{
        margin: 0 auto;
    }
    .footer_menu ul{
        margin: 0 10px;
    }
    .footer_right a img {
        width: 30px;
        height: auto;
        margin: 0 auto;
    }
}