.creator_block_wrapper {
  border: 1px solid #454545;
  box-sizing: border-box;
  border-radius: 14px;
  max-width: 226px;
  position: relative;
  margin: 17px auto;
}

.creator_block_wrapper:hover {
  border: 1px solid transparent;
  background: #141233;
  background-image: linear-gradient(#e9f1ff, #e9f1ff),
    linear-gradient(180deg, #8498ff 0%, #b34eff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dark .creator_block_wrapper:hover {
  background-image: linear-gradient(#141134, #141134),
    linear-gradient(180deg, #8498ff 0%, #b34eff 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.creator_block_header {
  border-radius: 6px;
  overflow: hidden;
}

.creator_block {
  padding: 5px 5px 15px 5px;
}

.creators_block_ava {
  margin: -25px auto 0;
  width: 42px;
  height: 42px;
  border: 1px solid #7e7e7e;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.creator_block h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #000;
  margin: 10px auto;
}

.dark .creator_block h6 {
  color: #ffffff;
}

.creator_block_content div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator_block_content div span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.creator_block_content div span svg {
  margin-right: 5px;
}

@media (max-width: 1399.98px) {
  .creator_block_wrapper {
    max-width: 215px;
    margin: 5px auto;
  }
}

@media (max-width: 1199.98px) {
  .creator_block_wrapper {
    margin: 7px auto;
    max-width: 226px;
  }
}

@media (max-width: 575.98px) {
  .creator_block_wrapper {
    margin: 20px auto;
  }
}
