.content_marketplace_block_wrapper{
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.content_marketplace_main_main .content_marketplace_block_wrapper{
    position: relative;
    max-width: 22%;
    margin: 0 auto 30px;
}

.content_marketplace_block{
    border: 1px solid #7E7E7E;
    padding: 10px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
            -webkit-clip-path: 
    polygon(
      0% 5%,     /* верхняя левая */
      6% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 5%,   /* верхняя правая */
      100% 95%,  /* нижняя правая */
      94% 100%,  /* нижняя правая */
      5% 100%,   /* нижняя левая */
      0 100%      /* нижняя левая */
    );

                    clip-path: 
    polygon(
      0% 5%,     /* верхняя левая */
      6% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 5%,   /* верхняя правая */
      100% 95%,  /* нижняя правая */
      94% 100%,  /* нижняя правая */
      5% 100%,   /* нижняя левая */
      0 100%      /* нижняя левая */
    );
}

.content_marketplace_block::after{
    content: '';
    border: 2px solid #7E7E7E;
    position: absolute;
    right: -5%;
    top: 97%;
    width: 9%;
    height: 7%;
    transform: rotate(45deg);
}

.content_marketplace_block::before{
    content: '';
    border: 2px solid #7E7E7E;
    position: absolute;
    left: -5%;
    top: -4%;
    width: 9%;
    height: 7%;
    transform: rotate(45deg);
    background-color: #C4C4C4;
}

.triangle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 7%;
    max-height: 3%;
}



.content_marketplace_block_img{
    padding: 8px;
    background: #282550;
    border-radius: 10px;
}

.content_marketplace_block_img img{
    border-radius: 10px;
}


.content_marketplace_block_info {
    background: #282550;
    padding: 7px;
    border-radius: 10px;
    margin-top: 10px;
    -webkit-clip-path: 
    polygon(
      0% 0%,     /* верхняя левая */
      0% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 0%,   /* верхняя правая */
      100% 87%,  /* нижняя правая */
      96% 100%,  /* нижняя правая */
      0% 100%,   /* нижняя левая */
      0 100%      /* нижняя левая */
    );
            clip-path: 
    polygon(
      0% 0%,     /* верхняя левая */
      0% 0%,     /* верхняя левая */
      100% 0%,    /* верхняя правая */
      100% 0%,   /* верхняя правая */
      100% 87%,  /* нижняя правая */
      96% 100%,  /* нижняя правая */
      0% 100%,   /* нижняя левая */
      0 100%      /* нижняя левая */
    );
}

.content_marketplace_block_info h6{
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.content_marketplace_block_footer{
    display: flex;
    justify-content: space-between;
}

.content_marketplace_block_footer span{
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.content_marketplace_block_info a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #0075FF;
    cursor: pointer;
    margin: 5px 0;
    display: block;
}

.content_marketplace_block_footer .count{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #0075FF;
}