.marketplace_block_wrapper {
  position: relative;
  margin: 0;
  max-width: 302px;
  width: 94%;
}

.marketplace_main_main .marketplace_block_wrapper,
.creator_account_main_block .marketplace_block_wrapper,
.product_footer_products .marketplace_block_wrapper {
}

.marketplace_block_wrapper input::-webkit-outer-spin-button,
.marketplace_block_wrapper input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.marketplace_block {
  background: none;
  border: 1px solid #454545;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 0.5px;
  position: relative;
  margin: 10px 1px;
  cursor: pointer;
}

.marketplace_block:hover {
  border-radius: 14px;
  border: 1px solid transparent;
  background: #141233;
  background-clip: padding-box;
  background-image: linear-gradient(#141134, #141134),
    linear-gradient(180deg, #8498ff 0%, #b34eff 100%);
  padding: 0.5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.marketplace_block_img {
  padding: 0;
  border-radius: 10px;
}

.marketplace_block_img_wrapper {
  overflow: hidden;
  border-radius: 10px;
  height: 261px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marketplace_block_img_wrapper img {
  width: 100%;
  height: auto;
}

.marketplace_block_img img {
  border-radius: 0;
  transition: 0.4s;
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.marketplace_block_img img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.dark .marketplace_block_info {
  background: #282550;
}

.marketplace_block_info h6 {
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.dark .marketplace_block_info h6 {
  color: #fff;
}

.dark .account_collection .marketplace_block_footer span:nth-child(2) {
  color: #7e7e7e;
}

.creator_account_main .marketplace_block_footer {
  display: flex;
  justify-content: center;
}

.collection_block_wrapper .marketplace_block_footer span {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #656565;
  margin: 0 5px;
}

.dark .collection_block_wrapper .marketplace_block_footer span {
  color: #7e7e7e;
}

.marketplace_block_info > span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #0075ff;
  cursor: pointer;
  margin: 5px 0;
  display: block;
  text-align: center;
  margin: 10px 0 5px;
}

.marketplace_block_footer .count {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0075ff;
}

.collection_block_wrapper .marketplace_block_img {
  background: url('../../../assets/img/collection_block_border.png') no-repeat
    center;
  background-size: 99% 99%;
  padding-top: 10px;
}

.collection_block_wrapper .marketplace_block:hover .marketplace_block_img {
  background: url('../../../assets/img/collection_block_border_hover.png')
    no-repeat center;
  background-size: 99% 99%;
}

.collection_block_wrapper .marketplace_block_info {
  position: relative;
  background: none !important;
  margin-top: 0;
}

.collection_block_wrapper .marketplace_block_info img.status {
  position: absolute;
  top: 5px;
  right: 5px;
}

.collection_block_wrapper .marketplace_block_info h6 {
  text-align: center;
}

.collection_block_ava {
  border: 1px solid #454545;
  box-sizing: border-box;
  border-radius: 5px;
  width: 65px;
  height: 65px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  margin: -35px auto 0;
  overflow: hidden;
}

.collection_block_ava img {
  max-width: 50px;
}

@media (max-width: 991.98px) {
  .marketplace_main_main .marketplace_block_wrapper,
  .creator_account_main_block .marketplace_block_wrapper,
  .product_footer_products .marketplace_block_wrapper {
    max-width: 28%;
  }
}

@media (max-width: 767.98px) {
  .marketplace_main_main .marketplace_block_wrapper,
  .creator_account_main_block .marketplace_block_wrapper,
  .product_footer_products .marketplace_block_wrapper {
    max-width: 40%;
  }
}

@media (max-width: 575.98px) {
  .marketplace_main_main .marketplace_block_wrapper,
  .marketplace_block_wrapper {
    max-width: 280px;
  }

  .creator_account_main_block .marketplace_block_wrapper,
  .product_footer_products .marketplace_block_wrapper {
    max-width: 49%;
  }
}

@media (max-width: 389.98px) {
  .creator_account_main_block .marketplace_block_wrapper,
  .product_footer_products .marketplace_block_wrapper {
    max-width: 280px;
  }
}
