.login_page {
  min-height: 100vh;
  position: absolute;
  z-index: 11112;
  display: flex;
  width: 100%;
}

.login_page .goBack_button {
  color: #fff;
}
.login_left {
  background: url('../../assets/img/login_left.png') no-repeat center;
  background-size: cover;
  width: 30%;
}

.login_right {
  width: 70%;
  min-height: 100vh;
  background-color: #141233;
  background-image: url('../../assets/img/login_right_bg.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

.login_page_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_page h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 40px 0 20px;
}

.login_form {
  min-width: 300px;
}

.show_password {
  position: absolute;
  right: 10px;
  position: absolute;
  bottom: 3px;
  cursor: pointer;
}

.login_form div {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  position: relative;
}

.login_form div label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.login_form div input {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid #797979;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 12px;
  padding: 5px 40px 5px 10px;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.login_form button {
  background: url('../../assets/img/check_faq_bg.png') no-repeat center;
  background-size: contain;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  border: none;
  outline: none;
  margin: 40px auto 30px;
  height: 45px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .login_form button {
  background: url('../../assets/img/check_faq_bg.png') no-repeat center;
  background-size: contain;
}

.login_form button {
  position: relative;
  z-index: 1;
}

.login_form button:hover span {
  position: relative;
  z-index: 1;
  color: #fff;
}

.login_form button:hover span {
  color: #fff;
}

.login_form button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  background: url('../../assets/img/check_faq_bg_hover.png') no-repeat center;
  background-size: contain;
  transition: 0.4s;
}

.login_form button:hover::before {
  transition: 0.4s;
  opacity: 1;
}

.dark .login_form button {
  transition: 0.4s;
  color: #fff;
}

.login_page_main span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.login_page_main span a {
  color: #2fe4fb;
}

@media (max-width: 991.98px) {
  .login_left {
    display: none;
  }
  .login_right {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .login_right .login_form {
    flex-direction: column;
    min-width: auto;
  }
  .login_form .sign_up_col {
    width: 100%;
  }

  .login_right {
    padding-bottom: 30px;
  }

  .login_page_main span {
    font-size: 16px;
  }
}
