footer {
  /* display: none !important; */
}

header {
  /* position: relative !important; */
  box-shadow: none;
}

.bm-burger-button {
  position: absolute !important;
}

.iframe_header {
  background: url('../../assets/img/iframe_header.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 365px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iframe_wrapper iframe {
  position: absolute;
  top: 445px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}

@media (max-width: 575.98px) {
  .iframe_header {
    height: 150px;
  }
  .iframe_wrapper iframe {
    top: 240px;
  }
}
